 body{
    background-image: linear-gradient(to right bottom, #ff4786, #ff3199, #ff17b1, #fa00cc, #e912eb);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
 }
 #cont
 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 10%;
     left: 30%;
     background-color: white;
     height: 500px;
     width: 500px;
     box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.4);
     border-radius: 10px;
     
     
 }
 .s{
     font-size: 20px;
 }
 @media screen and (max-width:740px) {
     #cont{
        position: absolute;
        top: 10%;
        left: 10%;

     }
     
 }
 @media screen and (max-width:540px) {
    #cont{
       position: absolute;
       top: 10%;
       left: 5%;
       height: 400px;
       width: 400px;

    }
    
}
@media screen and (max-width:460px) {
    #cont{
       position: absolute;
       top: 10%;
       left: 5%;
       height: 350px;
       width: 350px;

    }
    
}